#search-div{
	width: 80%;
	margin: 20px;
	margin-top: 5%;
	margin-left: 10%;
}

#content-div{
	margin-left: 20%;
}

.gif-div{
	width: 350px;
	height: 250px;
	margin:15px;
}

.gif-div img{
	max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    box-shadow: 5px 5px white;
}

.pagination li a{
	color:white;
}

.pagination li.disabled a{
	color:black;
}

body{
	background-color: #28A745;
}

@media only screen and (max-width: 600px){
	#content-div{
		margin-left: 15%;
	}

	.gif-div img{
		max-width: 80%;
	    max-height: 80%;
	    min-height: 80%;
	    min-width: 80%;
	}

	.gif-div{
		width: 350px;
		height: 250px;
		margin:5px;
	}


}